# App
PUBLIC_APP_NAME=Template App
PUBLIC_APP_LOGO=
PUBLIC_THEME_KEY=agrumes
PUBLIC_APPEARANCE_MODE=light
PUBLIC_BRAND_PRIMARY=#2563eb
PUBLIC_BRAND_ACCENT=#22d3ee

MAIL_FROM=x@gmail.com
ADMIN_NOTIFICATION_EMAILS=x@gmail.com

# Node
TZ=UTC
PORT=3002
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=zv5R8fC7pdVln6sucKxYxuItiiiNe9OC
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
LIMITER_STORE=memory
DRIVE_DISK=fs
AWS_ACCESS_KEY_ID=a
AWS_SECRET_ACCESS_KEY=a
AWS_REGION=a
S3_BUCKET=a


MONITORING_SECRET=some_secret_value


MAIL_MAILER=smtp

SMTP_HOST=smtp.x.fr
SMTP_PORT=465
SMTP_USERNAME=x@gmail.com
SMTP_PASSWORD=xx

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=redis_password