# App
PUBLIC_APP_NAME=Michelin Cycle
PUBLIC_APP_LOGO=/logo-michelin.png

# Node
TZ=UTC
PORT=3002
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=zv5R8fC7pdVln6sucKxYxuItiiiNe9OC
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
LIMITER_STORE=memory

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=redis_password